[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
psycopg2 = "*"
ollama = "*"
asyncpg = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
alembic = "*"
pydantic = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.11"
